@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bree+Serif&family=EB+Garamond:ital,wght@0,500;1,800&display=swap');

body {
    background: #DFC2F2;
    background-image: linear-gradient( to right, #ffffb3,#ffe6e6);
    background-attachment: fixed;
    background-size: cover;

}

#container{
    box-shadow: 0 15px 30px 1px grey;
    background: rgba(255, 255, 255, 0.90);
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    margin: 5em auto;
    height: 200px;
    width: 700px;
}

.review_details {
    position: relative;
    text-align: left;
    overflow: hidden;
    padding: 30px;
    height: 100%;
    float: left;
    width: 40%;
}

#container .review_details label{
    font-family: 'Bebas Neue', cursive;
    display: inline-block;
    position: relative;
    font-size: 30px;
    color: #344055;
    margin: 0;
}

#container .review_details label:before{
    position: absolute;
    content: '';
    right: 0%;
    top: 0%;
    transform: translate(25px, -15px);
    font-family: 'Bree Serif', serif;
    display: inline-block;
    background: #ffe6e6;
    border-radius: 5px;
    font-size: 14px;
    padding: 5px;
    color: white;
    margin: 0;
    animation: chan-sh 6s ease infinite;
}

.star {
    display: inline-block;
    margin-left: 0.5em;
    color: gold;
    width: 50%;
}

#container .review_details > p {
    font-family: 'EB Garamond', serif;
    text-align: left;
    font-size: 18px;
    color: #7d7d7d;
    margin-top: 1em;
}

.reply_details {
    transition: all 0.3s ease-out;
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 100%;
    float: right;
    width: 50%;
    display: inline-block;
    background: linear-gradient(to right,#2c5364, #203a43, #0f2027);
}


#container .reply_details > textarea {
    border:0;
    border-bottom:1px solid #555;
    background:transparent;
    width:100%;
    padding:8px 0 5px 0;
    font-size:16px;
    color:#fff;
    resize: none;
    height: 50%;
}

h {
    font-family: 'Bebas Neue', cursive;
    display: inline-block;
    position: relative;
    font-size: 40px;
    color: #344055;
    margin: 0;
}

p {
    font-family: 'Bebas Neue', cursive;
    display: inline-block;
    position: relative;
    font-size: 25px;
    color: mediumpurple;
    margin: 0;
}

.btn {

    color:#fff;
    background-color:#e74c3c;
    outline: none;
    border: 0;
    padding:7px 20px;
    text-transform:uppercase;
    margin-top:5px;
    border-radius:5px;
    cursor:pointer;
    position:relative;

    transform: translateY(0px);
    transition: 0.3s linear;
    overflow: hidden;

}

.btn:hover{transform: translateY(-6px);
    background: #1a66ff;}



